.ff0{font-family:sans-serif;visibility:hidden;}
/*@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.915527;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.951660;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.692571;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.900579;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.906738;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.879883;font-style:normal;font-weight:normal;visibility:visible;}*/
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.438593px;}
._0{width:1.342270px;}
._3{width:2.351120px;}
._7{width:15.857754px;}
._4{width:161.765561px;}
._5{width:401.217795px;}
._6{width:482.004266px;}
._2{width:557.811564px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs3{font-size:35.999986px;}
.fs0{font-size:39.839984px;}
.fs2{font-size:47.999981px;}
.fs1{font-size:56.159978px;}
.y0{bottom:0.000000px;}
.y21{bottom:25.079990px;}
.y20{bottom:208.679917px;}
.y1f{bottom:222.719911px;}
.y1e{bottom:250.319900px;}
.y1d{bottom:264.119894px;}
.y1c{bottom:277.919889px;}
.y1b{bottom:291.719883px;}
.y1a{bottom:305.519878px;}
.y19{bottom:319.319872px;}
.y18{bottom:333.119867px;}
.y17{bottom:346.919861px;}
.y16{bottom:374.519850px;}
.y15{bottom:388.319845px;}
.y14{bottom:402.119839px;}
.y30{bottom:411.839835px;}
.y13{bottom:415.919834px;}
.y2f{bottom:425.639830px;}
.y12{bottom:429.719828px;}
.y11{bottom:443.519823px;}
.y10{bottom:457.319817px;}
.y2e{bottom:460.199816px;}
.yf{bottom:471.119812px;}
.y2d{bottom:480.959808px;}
.ye{bottom:484.919806px;}
.yd{bottom:498.719801px;}
.y2c{bottom:501.719799px;}
.yc{bottom:512.519795px;}
.y2b{bottom:522.479791px;}
.yb{bottom:526.319789px;}
.ya{bottom:540.119784px;}
.y2a{bottom:543.239783px;}
.y29{bottom:563.999774px;}
.y9{bottom:566.279773px;}
.y8{bottom:580.079768px;}
.y28{bottom:584.759766px;}
.y27{bottom:605.519758px;}
.y7{bottom:607.679757px;}
.y6{bottom:621.479751px;}
.y26{bottom:626.279749px;}
.y5{bottom:635.279746px;}
.y25{bottom:639.839744px;}
.y4{bottom:656.279737px;}
.y24{bottom:660.839736px;}
.y23{bottom:681.359727px;}
.y3{bottom:684.119726px;}
.y22{bottom:708.959716px;}
.y2{bottom:711.119716px;}
.y1{bottom:747.119701px;}
.h1{height:27.837411px;}
.h2{height:29.276941px;}
.h5{height:32.657465px;}
.h4{height:33.609362px;}
.h3{height:37.935015px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x4{left:71.999971px;}
.x5{left:90.959964px;}
.x7{left:107.999957px;}
.xa{left:143.999942px;}
.x3{left:161.039936px;}
.x9{left:242.639903px;}
.xb{left:251.999899px;}
.x8{left:305.999878px;}
.xc{left:323.999870px;}
.x6{left:348.359861px;}
.x2{left:392.039843px;}
.x1{left:406.079838px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.918124pt;}
._0{width:1.789694pt;}
._3{width:3.134826pt;}
._7{width:21.143672pt;}
._4{width:215.687414pt;}
._5{width:534.957060pt;}
._6{width:642.672355pt;}
._2{width:743.748753pt;}
.fs3{font-size:47.999981pt;}
.fs0{font-size:53.119979pt;}
.fs2{font-size:63.999974pt;}
.fs1{font-size:74.879970pt;}
.y0{bottom:0.000000pt;}
.y21{bottom:33.439987pt;}
.y20{bottom:278.239889pt;}
.y1f{bottom:296.959881pt;}
.y1e{bottom:333.759866pt;}
.y1d{bottom:352.159859pt;}
.y1c{bottom:370.559852pt;}
.y1b{bottom:388.959844pt;}
.y1a{bottom:407.359837pt;}
.y19{bottom:425.759830pt;}
.y18{bottom:444.159822pt;}
.y17{bottom:462.559815pt;}
.y16{bottom:499.359800pt;}
.y15{bottom:517.759793pt;}
.y14{bottom:536.159786pt;}
.y30{bottom:549.119780pt;}
.y13{bottom:554.559778pt;}
.y2f{bottom:567.519773pt;}
.y12{bottom:572.959771pt;}
.y11{bottom:591.359763pt;}
.y10{bottom:609.759756pt;}
.y2e{bottom:613.599755pt;}
.yf{bottom:628.159749pt;}
.y2d{bottom:641.279743pt;}
.ye{bottom:646.559741pt;}
.yd{bottom:664.959734pt;}
.y2c{bottom:668.959732pt;}
.yc{bottom:683.359727pt;}
.y2b{bottom:696.639721pt;}
.yb{bottom:701.759719pt;}
.ya{bottom:720.159712pt;}
.y2a{bottom:724.319710pt;}
.y29{bottom:751.999699pt;}
.y9{bottom:755.039698pt;}
.y8{bottom:773.439691pt;}
.y28{bottom:779.679688pt;}
.y27{bottom:807.359677pt;}
.y7{bottom:810.239676pt;}
.y6{bottom:828.639669pt;}
.y26{bottom:835.039666pt;}
.y5{bottom:847.039661pt;}
.y25{bottom:853.119659pt;}
.y4{bottom:875.039650pt;}
.y24{bottom:881.119648pt;}
.y23{bottom:908.479637pt;}
.y3{bottom:912.159635pt;}
.y22{bottom:945.279622pt;}
.y2{bottom:948.159621pt;}
.y1{bottom:996.159602pt;}
.h1{height:37.116548pt;}
.h2{height:39.035922pt;}
.h5{height:43.543286pt;}
.h4{height:44.812482pt;}
.h3{height:50.580020pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x4{left:95.999962pt;}
.x5{left:121.279951pt;}
.x7{left:143.999942pt;}
.xa{left:191.999923pt;}
.x3{left:214.719914pt;}
.x9{left:323.519871pt;}
.xb{left:335.999866pt;}
.x8{left:407.999837pt;}
.xc{left:431.999827pt;}
.x6{left:464.479814pt;}
.x2{left:522.719791pt;}
.x1{left:541.439783pt;}
}
