.ff0{font-family:sans-serif;visibility:hidden;}
/*@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.915527;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.951660;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.692571;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.906738;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.879883;font-style:normal;font-weight:normal;visibility:visible;}*/
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.438593px;}
._0{width:1.342270px;}
._3{width:2.351237px;}
._7{width:15.857754px;}
._6{width:161.765561px;}
._4{width:448.737776px;}
._5{width:529.528026px;}
._2{width:557.811564px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs3{font-size:35.999986px;}
.fs0{font-size:39.839984px;}
.fs2{font-size:47.999981px;}
.fs1{font-size:56.159978px;}
.y0{bottom:0.000000px;}
.y29{bottom:25.079990px;}
.y28{bottom:69.719972px;}
.y27{bottom:83.519967px;}
.y26{bottom:111.119956px;}
.y25{bottom:124.919950px;}
.y24{bottom:138.719945px;}
.y23{bottom:152.519939px;}
.y22{bottom:166.319933px;}
.y21{bottom:180.119928px;}
.y20{bottom:193.919922px;}
.y1f{bottom:207.719917px;}
.y1e{bottom:221.519911px;}
.y40{bottom:232.439907px;}
.y1d{bottom:235.319906px;}
.y3f{bottom:246.239902px;}
.y1c{bottom:249.119900px;}
.y1b{bottom:262.919895px;}
.y1a{bottom:276.719889px;}
.y3e{bottom:280.799888px;}
.y19{bottom:290.519884px;}
.y3d{bottom:301.559879px;}
.y18{bottom:317.879873px;}
.y3c{bottom:322.319871px;}
.y17{bottom:331.679867px;}
.y3b{bottom:343.079863px;}
.y16{bottom:359.279856px;}
.y3a{bottom:363.839854px;}
.y15{bottom:373.079851px;}
.y39{bottom:384.599846px;}
.y14{bottom:387.119845px;}
.y13{bottom:400.679840px;}
.y38{bottom:405.359838px;}
.y37{bottom:426.119830px;}
.y12{bottom:428.279829px;}
.y11{bottom:442.079823px;}
.y36{bottom:446.879821px;}
.y10{bottom:455.879818px;}
.y35{bottom:460.439816px;}
.yf{bottom:469.679812px;}
.y34{bottom:481.439807px;}
.ye{bottom:483.479807px;}
.yd{bottom:497.519801px;}
.y33{bottom:501.959799px;}
.yc{bottom:511.079796px;}
.yb{bottom:524.879790px;}
.y32{bottom:529.559788px;}
.ya{bottom:552.479779px;}
.y9{bottom:566.279773px;}
.y8{bottom:580.079768px;}
.y31{bottom:598.559761px;}
.y7{bottom:607.679757px;}
.y30{bottom:612.599755px;}
.y6{bottom:621.479751px;}
.y5{bottom:635.279746px;}
.y2f{bottom:640.199744px;}
.y2e{bottom:653.999738px;}
.y4{bottom:656.279737px;}
.y2d{bottom:667.799733px;}
.y2c{bottom:681.599727px;}
.y3{bottom:684.119726px;}
.y2b{bottom:695.399722px;}
.y2a{bottom:709.199716px;}
.y2{bottom:711.119716px;}
.y1{bottom:747.119701px;}
.h1{height:27.837411px;}
.h2{height:29.276941px;}
.h5{height:33.117174px;}
.h4{height:33.609362px;}
.h3{height:37.935015px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x4{left:71.999971px;}
.x5{left:90.959964px;}
.x7{left:103.559959px;}
.x8{left:107.999957px;}
.xb{left:143.999942px;}
.x3{left:151.799939px;}
.xa{left:242.639903px;}
.xc{left:251.999899px;}
.x9{left:305.999878px;}
.xd{left:323.999870px;}
.x6{left:348.359861px;}
.x2{left:392.039843px;}
.x1{left:406.079838px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.918124pt;}
._0{width:1.789694pt;}
._3{width:3.134983pt;}
._7{width:21.143672pt;}
._6{width:215.687414pt;}
._4{width:598.317035pt;}
._5{width:706.037368pt;}
._2{width:743.748753pt;}
.fs3{font-size:47.999981pt;}
.fs0{font-size:53.119979pt;}
.fs2{font-size:63.999974pt;}
.fs1{font-size:74.879970pt;}
.y0{bottom:0.000000pt;}
.y29{bottom:33.439987pt;}
.y28{bottom:92.959963pt;}
.y27{bottom:111.359955pt;}
.y26{bottom:148.159941pt;}
.y25{bottom:166.559933pt;}
.y24{bottom:184.959926pt;}
.y23{bottom:203.359919pt;}
.y22{bottom:221.759911pt;}
.y21{bottom:240.159904pt;}
.y20{bottom:258.559897pt;}
.y1f{bottom:276.959889pt;}
.y1e{bottom:295.359882pt;}
.y40{bottom:309.919876pt;}
.y1d{bottom:313.759874pt;}
.y3f{bottom:328.319869pt;}
.y1c{bottom:332.159867pt;}
.y1b{bottom:350.559860pt;}
.y1a{bottom:368.959852pt;}
.y3e{bottom:374.399850pt;}
.y19{bottom:387.359845pt;}
.y3d{bottom:402.079839pt;}
.y18{bottom:423.839830pt;}
.y3c{bottom:429.759828pt;}
.y17{bottom:442.239823pt;}
.y3b{bottom:457.439817pt;}
.y16{bottom:479.039808pt;}
.y3a{bottom:485.119806pt;}
.y15{bottom:497.439801pt;}
.y39{bottom:512.799795pt;}
.y14{bottom:516.159794pt;}
.y13{bottom:534.239786pt;}
.y38{bottom:540.479784pt;}
.y37{bottom:568.159773pt;}
.y12{bottom:571.039772pt;}
.y11{bottom:589.439764pt;}
.y36{bottom:595.839762pt;}
.y10{bottom:607.839757pt;}
.y35{bottom:613.919754pt;}
.yf{bottom:626.239750pt;}
.y34{bottom:641.919743pt;}
.ye{bottom:644.639742pt;}
.yd{bottom:663.359735pt;}
.y33{bottom:669.279732pt;}
.yc{bottom:681.439727pt;}
.yb{bottom:699.839720pt;}
.y32{bottom:706.079718pt;}
.ya{bottom:736.639705pt;}
.y9{bottom:755.039698pt;}
.y8{bottom:773.439691pt;}
.y31{bottom:798.079681pt;}
.y7{bottom:810.239676pt;}
.y30{bottom:816.799673pt;}
.y6{bottom:828.639669pt;}
.y5{bottom:847.039661pt;}
.y2f{bottom:853.599659pt;}
.y2e{bottom:871.999651pt;}
.y4{bottom:875.039650pt;}
.y2d{bottom:890.399644pt;}
.y2c{bottom:908.799636pt;}
.y3{bottom:912.159635pt;}
.y2b{bottom:927.199629pt;}
.y2a{bottom:945.599622pt;}
.y2{bottom:948.159621pt;}
.y1{bottom:996.159602pt;}
.h1{height:37.116548pt;}
.h2{height:39.035922pt;}
.h5{height:44.156232pt;}
.h4{height:44.812482pt;}
.h3{height:50.580020pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x4{left:95.999962pt;}
.x5{left:121.279951pt;}
.x7{left:138.079945pt;}
.x8{left:143.999942pt;}
.xb{left:191.999923pt;}
.x3{left:202.399919pt;}
.xa{left:323.519871pt;}
.xc{left:335.999866pt;}
.x9{left:407.999837pt;}
.xd{left:431.999827pt;}
.x6{left:464.479814pt;}
.x2{left:522.719791pt;}
.x1{left:541.439783pt;}
}
