@model Dictionary<WaveAccountingIntegration.Models.Customer, WaveAccountingIntegration.Models.Transaction_History>

@{
	//Layout = null;

	var customerId = Model.Keys.First().id;

	var notices = new List<string>
	{
		"3DayLate",
		"5DayTennantAtWill",
		"15DayNoCause",
		"CourtDox3DayLate"

	};

}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>EvictionDocs</title>
</head>
<body>

	@foreach (var notice in notices)
	{
		@Html.ActionLink(notice, "EvictionDocs", new{id = customerId, form = notice}) @:||
	}

<table class="table">
	<tr>
		<th>
			customer.name
		</th>
		<th>
			ending_balance
		</th>

	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Key.name)
			</td>
			<td>
				$@Html.DisplayFor(modelItem => item.Value.ending_balance)
			</td>

		</tr>
	}

</table>


<table>
	<tr>
		<th>
			Event
		</th>
		<th>
			Date
		</th>
		<th>
			Amount
		</th>
	</tr>

	@foreach (var item in Model.Values.First().events.Where(x => x.total > 0).OrderByDescending(x => x.date))
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.event_type)
			</td>
			<td>
				@item.date.Value.ToUSADateFormat()
			</td>
			<td>
				$@Html.DisplayFor(modelItem => item.total)
			</td>

		</tr>
	}

</table>
</body>
</html>
