@model Dictionary<WaveAccountingIntegration.Models.Customer, WaveAccountingIntegration.Models.Transaction_History>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LateCustomers</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                customer.name
            </th>
            <th>
	            ending_balance
            </th>
           
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.ending_balance)
            </td>
            
            <td>
                @Html.ActionLink("EvictionDocs", "EvictionDocs", new { item.Key.id }) |
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
